[submodule "buildroot"]
	path = buildroot
	url = https://github.com/fifteenhex/buildroot.git
[submodule "br2secretsauce"]
	path = br2secretsauce
	url = https://github.com/fifteenhex/br2secretsauce.git
[submodule "br2autosshkey"]
	path = br2autosshkey
	url = https://github.com/fifteenhex/br2autosshkey.git
[submodule "buildroot_rescue"]
	path = buildroot_rescue
	url = https://github.com/fifteenhex/buildroot.git
[submodule "br2chenxing"]
	path = br2chenxing
	url = https://github.com/linux-chenxing/br2chenxing.git
[submodule "br2dgppkg"]
	path = br2dgppkg
	url = https://github.com/fifteenhex/br2dgppkg.git
