CONFIG_ARM=y
CONFIG_ARCH_MSTARV7=y
CONFIG_MSTAR_IPL=y
CONFIG_DEFAULT_DEVICE_TREE="mstar-infinity2m-ssd201"
CONFIG_OF_LIST="mstar-infinity2m-ssd201 mstar-infinity2m-ssd202d"

#CONFIG_SPL_TEXT_BASE=0xa0000000

CONFIG_MSTAR_INFINITY2M=y

CONFIG_CMD_MTD=y

CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_SPI_FLASH_SUPPORT=n

CONFIG_DYNAMIC_CRC_TABLE=y
CONFIG_SPL_LEGACY_IMAGE_CRC_CHECK=y

CONFIG_MTD_UBI_FASTMAP=y
#CONFIG_MTD_UBI=n
#CONFIG_CMD_UBI=n

CONFIG_SPL_UBI=y
CONFIG_SPL_UBI_MAX_VOL_LEBS=256
CONFIG_SPL_UBI_MAX_PEB_SIZE=131072
CONFIG_SPL_UBI_MAX_PEBS=1024
CONFIG_SPL_UBI_VOL_IDS=8

CONFIG_SPL_UBI_PEB_OFFSET=22
CONFIG_SPL_UBI_VID_OFFSET=2048
CONFIG_SPL_UBI_LEB_START=4096
CONFIG_SPL_UBI_LOAD_MONITOR_ID=0

CONFIG_MTDPARTS_DEFAULT="spi-nand0:128256K@2816K(UBI)"

# environment
CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_UBI_PART="UBI"
CONFIG_ENV_UBI_VOLUME="env"

CONFIG_SPL_OPTIMIZE_INLINING=y
